<style> 
  .label {stroke: darkgrey;
          fill : darkgrey;
          text-anchor : middle;
        }

  .ticks {
    font: 10px sans-serif;
  }

  ol {
    type="1";
    color: DarkRed;    
  }

  h1 {
    text-align: center;
    text-decoration: underline;
  }

  .column h4 {
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

.column {
  float: left;
  width: 50%;
  position: relative;  
}

  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }

  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }

  .track-inset {
    stroke: #ddd;
    stroke-width: 8px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }

  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }    

#tooltip {
  position: absolute;
  text-align: left;
  width: 80px;
  height: auto;
  min-height: 20px;
  padding: 2px;
  font: 12px sans-serif;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  color: #5E99BD;
  border-radius: 8px 8px 8px 8px;
  pointer-events: none;
  padding: 11px;    
}

#tooltip:before {
    box-sizing: border-box;
    display: inline;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    color: black;
    content: "\25BC";
    position: absolute;
    text-align: center;
    top: 100%;
    left: -2px;
}


</style>